@import '../../../styles/variables/colors';
@import '../../../styles/variables/animations';

.cart {
  background-color: $white;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  transition: $main-transition;
  width: 250px;
  z-index: 10;

  &.active {
    right: 0;
  }

  &--mask {
    background-color: $black-alpha7;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: $main-transition;
    
    &.active {
      height: 100vh;
      opacity: 1;
      right: 0vw;
      width: 100vw;
      width: 100vw;
    }
  }

  &--heading {
    background-color: $black-coral;
    color: $white;
    display: flex;
    justify-content: flex-end;
    padding: 1em;

    p {
      margin: 0 auto;
    }

    button {
      color: $white;
    }
  }
}