.icon {
  &--micro {
    font-size: 0.3rem;
  }

  &--small {
    font-size: 0.5rem;
  }

  &--medium {
    font-size: 1rem;
  }

  &--large {
    font-size: 2rem;
  }

  &--huge {
    font-size: 4rem;
  }
}