@import '../../../styles/variables/colors';

.product {
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    text-decoration: none;
  }

  &.small {
    width: 156px;
  }

  &.medium {
    width: 300px;
  }

  img {
    width: 100%;
  }

  &--view {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: $trypan-blue;
    padding: 0.5rem;
    border-radius: 50%;
    color: $white;
    display: flex;
  }

  &--add {
    background-color: $trypan-blue;
    color: $white;
    margin: 0;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
  }

  &--name {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
  }

  &--price {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;

    &:before {
      content: '$';
    }
  }
}