@import '../../../styles/variables/colors';

.banner {
  display: flex;
  flex-direction: column;
  background-color: $white-alpha5;
  padding: 1rem;
  min-width: 300px;
  min-height: 300px;
  text-align: center;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}