@import '../../../styles/variables/colors';

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .category {
    text-align: center;
    padding: 1px;
    margin-top: 1rem;
    width: calc(50% - 2px);

    a {
      text-decoration: none;
      color: $trypan-blue;
      display: flex;
      flex-direction: column;
    }

    &--image {
      width: 100%;
    }

    &--name {
      text-transform: uppercase;
      border: 1px solid;
      border-top: none;
      margin: 0;
      padding: 0.5rem 1rem;
    }
  }
}