@import '../../../styles/variables/colors';
@import '../../../styles/variables/animations';

.user {
  &--mask {
    background-color: $black-alpha7;
    height: 100vh;
    left: 0;
    position: absolute;
    top: -100vh;
    transition: $main-transition;
    width: 100vw;

    &.active {
      top: 0;
    }
  }

  .modal {
    background-color: $white;
    left: 0;
    margin: 0 0.2rem;
    position: absolute;
    top: -100vh;
    transition: $main-transition;
    width: 98vw;

    &.active {
      top: 5rem;
    }

    &--heading {
      background-color: $black-coral;
      display: flex;
      justify-content: flex-end;
      padding: 1rem;

      p {
        color: $white;
        font-weight: 500;
        margin: 0 auto;
        text-transform: uppercase;
      }

      button {
        color: $white;
      }
    }

    &--form {
      padding: 1rem;

      &__input {
        padding: 0.5rem 0 1rem;

        label {
          display: block;
          color: $trypan-blue;
          padding-bottom: 0.5rem;
        }

        span {
          color: $trypan-blue;
          padding: 0.55rem;
          border: 1px solid $trypan-blue;
          vertical-align: middle;
        }

        input {
          border: 1px solid $trypan-blue;
          border-left: 0;
          padding: 0.5rem;
          display: inline-block;
          vertical-align: middle;
          width: 83%;
        }
      }

      &__button {
        padding: 0 0.5rem 1rem;

        button {
          background-color: $trypan-blue;
          border: 1px solid $trypan-blue;
          color: $white;
          padding: 1rem;
          text-transform: uppercase;
          width: 100%;

          &:hover {
            background-color: $white;
            border: 1px solid $trypan-blue;
            color: $trypan-blue;
          }
        }

        &--reverse {
          padding: 0 0.5rem 1rem;

          button {
            background-color: $white;
            border: 1px solid $trypan-blue;
            color: $trypan-blue;
            padding: 1rem;
            text-transform: uppercase;
            width: 100%;
  
            &:hover {
              background-color: $trypan-blue;
              border: 1px solid $white;
              color: $white;
            }
          }
        }
      }

      &__separator {
        padding: 0.5rem 0 0;

        div {
          background-color: $trypan-blue;
          height: 1px;
          margin: 0 auto;
          width: 80%;
        }

        p {
          color: $trypan-blue;
          text-align: center;
        }
      }
    }
  }
}