.main {
  margin-top: 53px;

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .banner {
      position: absolute;
      z-index: 1;
    }
  }
}