.products {
  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}