$black-alpha7: rgba(0,0,0,.7);
$white-alpha5: rgba(255, 255, 255, 0.5);
$white: #FFFFFF;
$black-coral: #545863;
$electric-blue: #00E8FC;
$outrageous-orange: #F96E46;
$maize-crayola: #F9C846;
$misty-rose: #FFE3E3;
$trypan-blue: #3A0CA3;