@import '../../../styles/variables/colors';

.heading {
  background-color: white;
  display: flex ;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__nav {
    display: flex;
    padding: 1rem;
    width: 33.33%;

    &:last-child {
      justify-content: flex-end;
    }
  }
}