@import '../../../styles/variables/colors';

.product-detail {
  position: absolute;
  z-index: 11;
  background-color: $white;
  margin: 0.5rem;
  max-width: 100vw;

  &--mask {
    background-color: $black-alpha7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10;
  }

  &--image {
    width: 100%;
  }

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &--resume {
    padding: 1rem;
    color: $trypan-blue;
  }

  &--name {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    font-size: 1.5rem;
  }

  &--pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
  }

  &--price {
    &:before {
      content: '$';
    }
  }

  &--stock {
    font-size: 0.8rem;
  }

  &--separator {
    height: 1px;
    background-color: $trypan-blue;
    width: 100%;
  }

  &--cta {
    background-color: $trypan-blue;
    color: $white;
    width: 100%;
    padding: 0.5rem;
  }
}