@import '../../../styles/variables/colors';
@import '../../../styles/variables/animations';

.navigation {
  background-color: white;
  height: 100vh;
  left: -250px;
  position: absolute;
  top: 0;
  transition: $main-transition;
  width: 250px;
  z-index: 10;

  a {
    display: block;
    padding: 1rem;
    text-align: center;
  }

  &--active {
    background-color: white;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    transition: $main-transition;
    width: 250px;
    z-index: 10;

    a {
      display: block;
      padding: 1rem;
      text-align: center;
    }
  }

  &__overlay {
    transition: $main-transition;

    &--active {
      background-color: $black-alpha7;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transition: $main-transition;
      width: 100vh;
      z-index: 9;
    }
  }

  &__heading {
    display: flex;
    justify-content: flex-end;
    background-color: $black-coral;
    color: white;
    padding: 1rem;

    p {
      text-transform: uppercase;
      margin: 0 auto;
    }

    button {
      color: white;
    }
  }
}